<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OtobüsOtomasyonu.Properties.Settings.otobusotomasyonuConnectionString"
            connectionString="Data Source=DESKTOP-VIHVETL\SQLEXPRESS;Initial Catalog=otobusotomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OtobüsOtomasyonu.Properties.Settings.otobusotomasyonu_rygConnectionString"
            connectionString="Data Source=DESKTOP-VIHVETL\SQLEXPRESS;Initial Catalog=otobusotomasyonu-ryg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>